/* boot */
.url.box {
    animation: boot 3s steps(1) none;
    animation-fill-mode: forwards;
}
@keyframes boot {
0% {
    cursor: none;
    background: url(https://i.imgur.com/MXP0bx5.gif) #000;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    bottom: 0px;
    top: 0;
    left: 0;
    color: #ffffff00;
    border: none;
    box-shadow: none;
    filter: drop-shadow(0px 100px #000000);
    z-index: 1000;
}
}
/* window */
.topLeft {
    margin-top: 10px;
    margin-left: -5px;
    border: 0px solid transparent;
    border-image-slice: 22 55 2 3 fill;
    border-image-width: 22px 55px 2px 3px;
    border-image-repeat: repeat repeat;
    border-image-source: url(https://i.imgur.com/qLpFPAX.png);
    background: linear-gradient(135deg,#f0f 0,#0ff 25%);
    box-shadow: inset 1px 1px #fff, 0 0 150px 1px rgba(255,0,255,0.5);
}
.topRight {
    margin-top: 10px;
    border: 0px solid transparent;
    border-image-source: url(https://i.imgur.com/qLpFPAX.png);
    background: linear-gradient(135deg,#f0f 0,#0ff 8%);
    border-image-slice: 22 55 2 3 fill;
    border-image-width: 22px 55px 2px 3px;
    border-image-repeat: repeat repeat;
    box-shadow: inset 1px 1px #fff, 0 0 150px 1px rgba(255,0,255,0.5);
}
h4 {
    color: #000000;
} 
body {
    background-attachment: fixed;
    background-image: url(https://i.imgur.com/iD7U6uZ.png), linear-gradient(135deg,#f0f 0,#0ff 100%);
    background-position: left 0px top 60px, center top;
    background-repeat: no-repeat, repeat;

}
.boxHead, .rightHead {
    background: linear-gradient(100deg,#f0f 0,#0ff 100%);
    color: #fff;
    user-select: none;
}
.url.box, .boxInfo.box, .player.box, .tableLeft, .tableRight, .box.blog, .box.blurbs, .box.fwiends, .box.comments, button, input {
    margin-bottom: 20px;
    padding-right: 1px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 1px 0 #404040, 0 1px #404040, 1px 1px #404040, inset 1px 1px #fff;
    background-color: #d4d0c8;
    border-right: 1px solid #808080;
    border-left: 1px solid #d4d0c8;
    border-top: 1px solid #d4d0c8;
    border-bottom: 1px solid #808080;
    color: #000;
}
/* cursors */
html, body {
     cursor: url("https://www.windows93.net/c/sys/cursors/default.cur"),default;
}
textarea {
     cursor: url("https://www.windows93.net/c/sys/cursors/text.cur"),text;
}
.player audio::-webkit-media-controls-play-button, .player audio::-webkit-media-controls-mute-button, .player audio::-webkit-media-controls-volume-slider, .player audio::-webkit-media-controls-timeline, a, img, button {
     cursor: url("https://www.windows93.net/c/sys/cursors/pointer.cur"),pointer;
}
/* header & hsub */
div#header, div#hSub {
     background: linear-gradient(135deg,#f0f 0,#0ff 100%);
     color: #fff;
}
div#header {
    border-bottom: 1px solid white;
}
.logo, .boxHead > .boxInfo > b {
    font-size: 0;
}
.logo::before {
    font-size: small;
    content: "Windows";
    font-size: 20px;
    font-family: Franklin Gothic Heavy;
    text-align: center;
}
.logo::after {
    font-size: small;
    content: "93.net";
    font-size: 20px;
    font-family: Franklin Gothic Medium;
    text-align: center;
}
/* info */
#sMsg {
    background-image: url(https://i.imgur.com/VN6R1kI.png);
}
#add {
    background-image: url(https://i.imgur.com/kmYiUO4.png);
}
#block {
    background-image: url(https://i.imgur.com/g95wp29.png);
}
#report {
    background-image: url(https://i.imgur.com/slkg8Sx.png);
}
/* hover */
.box.blurbs > div.blogs > div > a:hover, .extended.box > a > h3:hover, #viewFriends > b > a:hover, div#hSub > a:hover, #hUp > a:hover, .fwiendFace:hover, .boxButton:hover, .tableLeft:hover {
    background: #0090e4;
    color: white;
}
.tableLeft > a:hover {
    color: white;
}
/* taskbar */
html:after {
    background-image: url(https://i.imgur.com/rnpIaYt.png);
    width: 1009px;
    height: 30px;
    display: block;
    content: "";
    position: fixed;
    bottom: 0;
    background-size: 1009px;
    z-index: 100;
}
body:before {
    background-image: url(https://i.imgur.com/qdvXdev.png);
    width: 4360px;
    height: 30px;
    display: block;
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    background-size: 1009px;
    z-index: 100;
}
/* others */
.fwiendCounter > b {
    margin-left: 3px;
}
.fwiendCount {
    color: #000;
}
.blog { 
margin-top: 0px; 
}
.blogs div, .blogCard img {
    margin-top: 15px;
}
#footer.box {
margin-bottom: 30px;
}
/* folder view */
.blogs {
display: flex;
flex-flow: row wrap;
padding-top: 16px;
padding-bottom: 16px;
}
 
.blurbs>.blogs>div:first-child {
position: relative;
width: calc(100% + 2px);
top: -30px;
margin-left: 3px;
height: 0px;
}
 
.blurbs>.blogs>div:nth-child(2) {
box-shadow:0px 0px 0 1px white;
}
 
.blurbs>.blogs>div:not(:first-child) {
width: 96px;
text-align: center;
margin: 0 20px;
}
 
.blurbs>.blogs>div:not(:first-child):before {
content: "";
display: block;
width: 96px;
height: 48px;
background: url(https://i.imgur.com/81UDdx7.png);
background-repeat: no-repeat;
background-position: center;
}
.tableLeft > a > div {
max-width: initial;
}
@media only screen and (max-width: 768px) {
.topLeft, .topRight {
    width: 47%;
    float: left !important;
}
}
@media only screen and (max-width: 768px)
.topRight {
    margin-top: 34px;
    padding-top: 42px;
    padding-right: 19px;
}
